<button mat-icon-button class="close-button" (click)="onNoClick()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
<h1 mat-dialog-title>Edit Category</h1>
<div mat-dialog-content>
    <div class="form-group">
        <mat-form-field>
            <mat-label>Category Name</mat-label>
            <input matInput [(ngModel)]="data.category.categoryName">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Root Category</mat-label>
            <mat-select [(ngModel)]="data.category.rootCategoryId">
                <mat-option *ngFor="let food of getCategoriesForModal(data.category.id,data.categories)" [value]="food.id">
                    {{food.categoryName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field>
            <mat-select [(ngModel)]="data.category.status">
                <mat-option [value]="true">Active</mat-option>
                <mat-option [value]="false">InActive</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button class="btn btn-primary" mat-button [mat-dialog-close]="data.category" cdkFocusInitial>Ok</button>
    <button class="btn btn-danger" mat-button (click)="onNoClick()">No Thanks</button>
</div>